:root {
  --h3-color: #00669a;
  --Ded-Size: "Noto Sans", sans-serif;
  --H2-font: "Ubuntu", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: white;
  background-size: cover;
  background-position: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

header {
  position: relative;
  font-family: "Fira Sans", sans-serif;
}
nav {
  width: 100%;
  height: 100px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
nav .links {
  display: flex;
}
.logo {
  width: 3rem;
  margin-top: -1rem;
  margin-left: 1rem;
}
.links {
  margin-left: 17%;
  margin-right: 15%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.menuBottom {
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.menuBottomActive {
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.menuBottomActive::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--h3-color);
  bottom: -0.5rem;
  width: 100%;
  left: 0;
}
.menuBottom::before {
  content: "";
  position: absolute;
  height: 0.5px;
  background-color: #000000;
  bottom: -0.5rem;
  width: 100%;
  left: 0;
}
.menuBottom::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--h3-color);
  bottom: -0.5rem;
  width: 0;
  left: 0;
}
.menuBottom:hover {
  color: var(--h3-color);
  cursor: pointer;
}

.menuBottom:hover::after {
  width: 100%;
}

.toggle_btn {
  display: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}
/* DropDown Menu */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2 rem;
  top: 70px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 280px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
/*Main*/
main {
  min-height: 100vh;
  margin: auto;
  /* line-height: 1.5; */
  background-color: #fff;
  max-width: 100%;
}
.portraitZorig {
  width: 100%;
  height: 100%;
}
section {
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 5%;
}
h3 {
  color: var(--h3-color);
  font-family: var(--Ded-Size);
  margin-bottom: 1rem;
}
h2 {
  font-family: var(--H2-font);
  font-weight: 300px;
}
.medium {
  display: flex;
  width: 100%;
  padding: 7% 7% 7% 7%;
  gap: 10%;
}
.scholarshipCount {
  font-size: 3rem;
  font-family: "Pass through";
}
/*Responsive Design*/
@media (max-width: 1080px) {
  a {
    text-decoration: none;
    color: black;
    font-size: 0.82rem;
  }
}
@media (max-width: 700px) {
  nav .links {
    display: none;
  }
  .toggle_btn {
    display: block;
    justify-content: flex-start;
    position: relative;
  }
  .dropdown_menu {
    display: block;
    margin-left: 2rem;
  }
  nav {
    justify-content: flex-start;
    margin-left: 1rem;
  }
}
@media (max-width: 414) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  .dropdown_menu.open {
    height: 280px;
  }
}
