body{
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}
header{
    grid-column-start: 2;
    grid-column-end: 3;
}
.navbar ul{
    display: flex;
    flex-direction: row;
}
.navbar ul li a{
    text-decoration: none;
}
section.top{
    grid-column-start: 1;
    grid-column-end: -1;
    background: linear-gradient(180deg, #023E8A 0%, rgba(2, 62, 138, 0) 100%);
    mix-blend-mode: normal;
    display: flex;
    flex-direction: row;
    padding: 5%;
}
article.context{
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    text-align: justify;
    color: #000000;
    padding: 0% 5% 0% 5%;
    font-size: 24px;
}
footer{
    grid-column-start: 1;
    grid-column-end: -1;
    background: #00669A;
    height: 492px;
}
section img.big-image{
    width: 50%;
}
section img.little-image{
    width: 15%;
    border-radius: 50%;
}
section.side{
    display: flex;
    flex-direction: column;
    margin: 0% 0% 0% 5%;
}
section.side h5{  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-transform: capitalize;
    color: #000000;
}
li{
    list-style: none;
}
div.clock{
    display: flex;
    flex-direction: row;
}
.context h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: #00669A;
}
.context p{
    padding: 0% 0% 0% 5%;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    color: #000000;
    mix-blend-mode: normal;
}
.context p ul li{
    padding: 0% 0% 0% 5%;
}
footer ul.corner{
    display: flex;
    flex-direction: row;
}
footer ul.corner li{
    padding: 5% 10%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
}
footer ul.corner li h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;
}